LLM_KEEP_ALIVE=10m
LLM_NUM_PREDICT=200
LLM_TEMPERATURE=0

TOOL_BASE_PATH=.
MAX_REASONING_STEPS=4

MEMORY_ENABLED=true
MEMORY_USER_ID=default_user

MONGO_CHECKPOINTER_ENABLED=false
MONGO_URI=mongodb://localhost:27017
MONGO_DB_NAME=eunoia
MONGO_THREAD_ID=default-thread